@model Assignment2084_2.Models.arpitphone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>arpitphone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.models)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.models)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.s_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
